<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
</head>
    <body>
		<span class="mcnPreviewText" style="display:none; font-size:0px; line-height:0px; max-height:0px; max-width:0px; opacity:0; overflow:hidden; visibility:hidden; mso-hide:all;">*|MC_PREVIEW_TEXT|*</span>
        <center>
			<table height="100%" width="100%" id="bodyTable">
				<div align="center" valign="top" id="bodyCell">
					<div  width="100%" class="templateContainer">
						<div valign="top" id="templateHeader">
							<div class="mcnImageBlock" style="min-width:100%;" width="100%" >
								<div class="mcnImageBlockOuter">
									<div style="padding:9px" class="mcnImageBlockInner" valign="top">
										<div class="mcnImageContentContainer" style="min-width:100%;" width="100%"   align="left">
												<div class="mcnImageContent" style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0; text-align:center;" valign="top">                                   
													<%# <img alt="" src="https://www.factorgfc.com/wp-content/uploads/2022/03/06.png" style="max-width:1252px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage" width="327.12" align="middle"> %>
													<img alt="" src="https://elasticbeanstalk-us-east-1-448997109223.s3.amazonaws.com/nomina_back/imagenes/credi_global_logo.jpeg" style="max-width:1252px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage" width="327.12" align="middle">
												</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div valign="top" id="templateBody">
							<div class="mcnTextBlock" style="min-width:100%;" width="100%"  >
								<div class="mcnTextBlockOuter">
									<div class="mcnTextBlockInner" style="padding-top:9px;" valign="top"> 
										<div style="max-width:100%; min-width:100%;" class="mcnTextContentContainer" width="100%" align="center">
											<div class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;" valign="top">
												<h1> <%= @title %> </h1>
												<h2>Hola <span style="color:DodgerBlue;"><%= @email_name %></span>. El cliente <span style="color:DodgerBlue;"><%= @content[2] %></span> ha solicitado un crédito que requiere aprobación.</h2>
												<br>
												<br>
												<br>
												<h2> Monto solicitado: <span style="color:DodgerBlue;"><%= number_to_currency (@content[1].total_requested) %></span> </h2>
												<div class="col m4">
													<%# <form action= <%= @content[0] %>
														<%# <input type="submit" value="Aceptar" /> %>
													<%# </form> %>
													<br> <h2>Favor de revisar los detalles del crédito para aprobarlo o rechazarlo mediante el siuiente enlace:</h2>
													<br>
													<br>
													<br>
													<h2><a href=<%= @content[0] %>> Ver detalles del crédito </a></h2>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div valign="top" id="templateFooter">
							<div class="mcnFollowBlock" style="min-width:100%;" width="100%"  >
								<div class="mcnFollowBlockOuter">
									<div style="padding:9px" class="mcnFollowBlockInner" valign="top" align="center">
										<div class="mcnFollowContentContainer" style="min-width:100%;" width="100%"  >
											<div style="padding-left:9px;padding-right:9px;" align="center">
												<div style="min-width:100%;" class="mcnFollowContent" width="100%"  >
													<div style="padding-top:9px; padding-right:9px; padding-left:9px;" valign="top" align="center">
														<div align="center">
															<div valign="top" align="center">                                       
																<div style="display:inline;"   align="left">
																	<div style="padding-right:10px; padding-bottom:9px;" class="mcnFollowContentItemContainer" valign="top">
																		<div class="mcnFollowContentItem" width="100%"  >
																			<div style="padding-top:5px; padding-right:10px; padding-bottom:5px; padding-left:9px;" valign="middle" align="left">
																				<div width=""   align="left">
																					<div class="mcnFollowIconContent" width="24" valign="middle" align="center">
																						<a href="https://twitter.com/FactorGfc" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-48.png" alt="Twitter" style="display:block;" class="" width="24" height="24"></a>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div style="display:inline;"   align="left">
																	<div style="padding-right:10px; padding-bottom:9px;" class="mcnFollowContentItemContainer" valign="top">
																		<div class="mcnFollowContentItem" width="100%"  >
																			<div style="padding-top:5px; padding-right:10px; padding-bottom:5px; padding-left:9px;" valign="middle" align="left">
																				<div width=""   align="left">
																					<div class="mcnFollowIconContent" width="24" valign="middle" align="center">
																						<a href="https://www.facebook.com/Factor-GFC-Global-882158781853486" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png" alt="Facebook" style="display:block;" class="" width="24" height="24"></a>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div style="display:inline;"   align="left">
																	<div style="padding-right:0; padding-bottom:9px;" class="mcnFollowContentItemContainer" valign="top">
																		<div class="mcnFollowContentItem" width="100%"  >
																			<div style="padding-top:5px; padding-right:10px; padding-bottom:5px; padding-left:9px;" valign="middle" align="left">
																				<div width=""   align="left">
																					<div class="mcnFollowIconContent" width="24" valign="middle" align="center">
																						<a href="https://www.linkedin.com/company/26518165/admin/" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-linkedin-48.png" alt="LinkedIn" style="display:block;" class="" width="24" height="24"></a>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="mcnImageBlock" style="min-width:100%;" width="100%"  >
							<div class="mcnImageBlockOuter"> 
								<div style="padding:9px" class="mcnImageBlockInner" valign="top">
									<div class="mcnImageContentContainer" style="min-width:100%;" width="100%"   align="left">
										<div class="mcnImageContent" style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0;" valign="top">
											<img alt="" src="https://mcusercontent.com/1f44359bb26d8944d17c89841/images/c2d47621-7810-4833-abb6-84efcd197da5.png" style="max-width:2374px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage" width="146.64000000000001" align="right">
										</div>
									</div>
								</div>
							</div>
						</div>
							<div class="mcnDividerBlock" style="min-width:100%;" width="100%"  >
								<div class="mcnDividerBlockOuter">
									<div class="mcnDividerBlockInner" style="min-width: 100%; padding: 10px 18px 25px;">
										<div class="mcnDividerContent" style="min-width: 100%;border-top: 2px solid #EEEEEE;" width="100%"  >
										</div>
									</div>
								</div>
									</div>
										<table class="mcnTextBlock" style="min-width:100%;" width="100%"  >
											<div style="max-width:100%; min-width:100%;" class="mcnTextContentContainer" width="100%" align="left">
												<em>Copyright © 2022 </em>FACTOR GFC GLOBAL SA DE CV SOFOM ENR<em>, All rights reserved.</em><br>&nbsp;
											</div>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</table>
        </center>
    </body>
</html>
