    <!DOCTYPE html>
    <html lang="en">
    <head>
    <%= wicked_pdf_stylesheet_link_tag 'application' %>
        <title>Tabla de amortizacion</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <style type="text/css">
            html { font-family:Calibri, Arial, Helvetica, sans-serif; font-size:12pt; background-color:white }
            div.comment { display:none }
            div { border-collapse:hidden; page-break-after:always border-style:hidden }
        </style>
    </head>

    <body>
    <div>
        <div style="position: relative;">
            <img src="https://elasticbeanstalk-us-east-1-448997109223.s3.amazonaws.com/nomina_back/imagenes/leasing_logo.jpg" alt="logo leasing" style="width: 180px;">
        </div>
        <div class="row" style="float: right;">
        <font size="1" face="Courier New" >
            <div class="col">
                Número de crédito: <%= @credit_number %>
            </div><br>
            <div class="col">
                Importe del crédito: <%= number_to_currency(@monto_total_solicitado) %>
            </div><br>
            <div class="col">
                Nombre del empleado: <%= @nombre %> <%= @apellido_paterno %> <%= @apellido_materno %>
            </div><br>
            <div class="col">
                Fecha de Inicio: <%= @fecha_inicio.strftime("%d/%m/%Y") %>
            </div><br>
            <div class="col" align="right">
                Plazo: <%= @plazo %>
            </div><br>
            <div class="col" align="right">
                Numero de pagos: <%= @plazo_key %>
            </div><br>
            <div class="col" align="right">
                Tasa fija: <%= @tasa %> %
            </div><br>
            <div class="col" align="right">
                Cat: <%= @cat.blank? ? '' : @cat %>% sin iva.
            </div><br>
            </font>
        </div>
        <div class="row">
            <h6 style='text-align: left;'>
            TABLA DE AMORTIZACION
            </h6>
        </div>
        <br>
        <font size="1" face="Courier New" >
        <div>
            <table style="border-collapse: collapse; width: 100%;">
                <thead style="border: 1px solid #ddd;  padding: 8px; text-align: left;">
                    <tr>
                        <th style="padding: 2px;width:0.1%;white-space: nowrap;">Número de pago</th>
                        <th style="padding: 2px;width:0.1%;white-space: nowrap;">Monto</th>
                        <th style="padding: 2px;width:0.1%;white-space: nowrap;">Deuda actual</th>
                        <th style="padding: 2px;width:0.1%;white-space: nowrap;">Deuda restante</th>
                        <th style="padding: 2px;width:0.1%;white-space: nowrap;">Fecha de pago</th>
                        <th style="padding: 2px;width:0.1%;white-space: nowrap;">Estatus</th>
                    </tr>
                </thead>
                <tbody style="border: 1px solid #ddd;  padding: 8px; text-align: center;">
                    <% @amortizacion.each do |payment| %>
                        <tr>
                            <td style="padding: 2px;width:0.1%;white-space: nowrap;"> <%= payment['pay_number'] %></td>
                            <td style="padding: 2px;width:0.1%;white-space: nowrap;"> <%= number_to_currency(payment['payment']) %></td>
                            <td style="padding: 2px;width:0.1%;white-space: nowrap;"> <%= number_to_currency(payment['current_debt']) %></td>
                            <td style="padding: 2px;width:0.1%;white-space: nowrap;"> <%= number_to_currency(payment['remaining_debt']) %></td>
                            <td style="padding: 2px;width:0.1%;white-space: nowrap;"> <%=  DateTime.parse(payment['payment_date']).strftime('%d-%m-%Y') %></td>
                            <td style="padding: 2px;width:0.1%;white-space: nowrap;"> <%= payment['status'] %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        </>
    </div>
</body>