<!DOCTYPE html>
<html lang="es" class="wf-roboto-n3-active wf-roboto-n4-active wf-roboto-n5-active wf-roboto-n6-active wf-roboto-n7-active wf-poppins-n3-active wf-poppins-n4-active wf-poppins-n5-active wf-poppins-n6-active wf-poppins-n7-active wf-active">
<head>
    <title>Bureau Report</title>
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome-64.css", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", media: "all", "data-turbolinks-track" => true %>
    <%= wicked_pdf_stylesheet_link_tag "application" %>
    <style type="text/css">
            {        box-sizing: border-box;    }
            html { font-family:Calibri, Arial, Helvetica, sans-serif; font-size:12pt; background-color:white }
            div.comment { display:none }
            div { border-collapse:hidden; page-break-after:always border-style:hidden }
            .page-break { display:block; clear:both; page-break-after:always; }
            table { table-layout: auto; }
            .th, .td { padding: 0; width: calc(100% / 6); box-sizing: border-box; white-space: nowrap;}
            @font-face {
            font-family: 'FontAwesome';
            src: url(data:application/x-font-truetype;base64,<< insert base64 encoded fontawesome-webfont.ttf here >>) format('truetype');
            font-weight: normal;
            font-style: normal;
            }
        </style>
</head>
<body onload='number_pages'>
    <div id="header">
        <div class="row"  style="text-align:center;">
            <div class="col" style=" display:inline-block; float:left;">
                <img src="https://elasticbeanstalk-us-east-1-448997109223.s3.amazonaws.com/nomina_back/imagenes/credi_global_logo.jpeg" style="width: 380px;">
            </div>
            <div class="col" style="display:inline-block;float:right;">
                Fecha de consulta: <%= DateTime.parse(@bureau_report['results'][0]['createdAt']).strftime('%d-%m-%Y') %>
                Numero Control Consulta: <%= @bureau_report['results'][1]['response']['return']['Personas']['Persona'][0]['Encabezado']['NumeroControlConsulta'] %>
            </div>
            <div class="col" style="display:inline-block;float:none;">
                <h2>
                REPORTE DE BURO DE CRÉDITO
                </h2>
                <% if  !@esPM %>
                <h5>
                    Personas Físicas
                </h5>
                <% end %>
            </div><br>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <% if @credit_bureau.present? && !@esPM
            if @report_result['results'][0]['response'].present? && !@report_result.has_key?("msjError".to_sym) && !@esPM %>
            <div class="card big-padding">
                <h3 >
                    Datos Generales
                </h3>
                <div>
                    <div class="row" style="text-align:left;">
                        <div class="col" style="display:inline-block;float:none;">   
                            Nombre: 
                            <%= @report_result['results'][1]['response']['return']['Personas']['Persona'][0]['Nombre']['PrimerNombre']+ ' ' + @report_result['results'][1]['response']['return']['Personas']['Persona'][0]['Nombre']['ApellidoPaterno'] + ' ' + @report_result['results'][1]['response']['return']['Personas']['Persona'][0]['Nombre']['ApellidoMaterno'] %> 
                        </div>
                        <div class="col" style="display:inline-block;float:none;">
                        R.F.C: 
                        <%= @report_result['results'][1]['response']['return']['Personas']['Persona'][0]['Nombre']['RFC'] %> 
                        </div>
                        <div class="col" style="display:inline-block;float:none;">
                            Fecha de nacimiento: 
                        <%= @report_result['results'][1]['response']['return']['Personas']['Persona'][0]['Nombre']['FechaNacimiento'] %> 
                        </div>
                    </div>
            <% else %>
                    <div role="alert">
                        <div class="m-alert__text">
                            Aún no se encuentran datos generales.
                        </div>
                    </div>
                    <% end; elsif !@esPM %>
                    <div 
                        role="alert">
                        <div class="m-alert__icon">
                            <i class="flaticon-exclamation-1">
                            </i><span></span>
                        </div>
                        <div class="m-alert__text">
                            Aún no se encuentran datos generales.
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-xl-12">
                <div >
                    <div >
                      <% if !@credit_bureau.present? %>
                        <div >
                            <div class="no-results">
                                No hay resultados
                            </div>
                        </div>
                      <% else end %>
                        <div>
                          <% if @credit_bureau.present? && !@esPM %>
                            <div class="card big-padding" align="left">
                            <div class="row" style="column-span: all;">
                                <h3>
                                    Calificación
                                </h3>
                            </div>
                                <div class="row" style="columns: 3; display: flex" align="center">
                                    <div class="col" style="column-span: all;" align="center">
                                        <div align="center">
                                            <div align="center">
                                                <span class="text-center">
                                                <% if @score.to_i <= 550  %>
                                                <%= wicked_pdf_image_tag('face-bad.png') %><br>
                                                    BAJA, MENOR A 550 PUNTOS</span>
                                                <% end %>
                                            </div>
                                            <div><% if ( @score.to_i >= 551 ) && ( @score <= 650)  %>
                                            <%= wicked_pdf_image_tag('face-med.png') %><br>
                                                <span class="text-center">REGULAR, 551-650 PUNTOS</span>
                                                <% end %>
                                            </div>
                                            <div><% if ( @score.to_i >= 651 ) && ( @score <= 750)  %>
                                            <%= wicked_pdf_image_tag('face-nice.png') %><br>
                                                <span class="text-center">BUENA 651- 750 PUNTOS</span><br>

                                                <% end %>
                                            </div>
                                            <div><% if @score.to_i > 750   %>
                                            <%= wicked_pdf_image_tag('face-good.png') %>
                                                <span class="text-center">EXCELENTE MÁS DE 751 PUNTOS</span>
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col" style="column-span: all;">
                                        <div >
                                            <span><%= @score %></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div >
                                <div class="card big-padding">
                                    <h3 class="m-portlet__head-text">Resumen de Créditos (M.N.)</h3>
                                  <% if @bureau_report.present? && !@esPM
                                      if @report_result['results'][0]['response'].present? && !@report_result.has_key?("msjError".to_sym) %>
                                        <div >
                                        <div >
                                            <div >
                                                <table class="table" style="display: block;">
                                                    <thead class="thead-default">
                                                    <tr>
                                                        <th>
                                                            MOP
                                                        </th>
                                                        <th>
                                                            Cuentas Abiertas
                                                        </th>
                                                        <th>
                                                            Limite Abiertas
                                                        </th>
                                                        <th>
                                                            Maximo Abiertas
                                                        </th>
                                                        <th>
                                                            Saldo Actual Abiertas
                                                        </th>
                                                        <th>
                                                            Saldo Vencido Abiertas
                                                        </th>
                                                        <th>
                                                            Pago a Realizar
                                                        </th>
                                                        <th>
                                                            Cuentas Cerradas
                                                        </th>
                                                        <th>
                                                            Limite Cerradas
                                                        </th>
                                                        <th>
                                                            Maximo Cerradas
                                                        </th>
                                                        <th>
                                                            Saldo Actual Cerradas
                                                        </th>
                                                        <th>
                                                            Monto Cerradas
                                                        </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <% get_ur_credits( @report_result['results'][1]['response']['return']['Personas']['Persona'][0]['Cuentas']['Cuenta']).each do |credit| %>
                                                    <tr>
                                                        <td>
                                                            <%= credit[:mop] %>
                                                        </td>
                                                        <td>
                                                            <%= credit[:cuentas_abiertas] %>
                                                        </td>
                                                        <td>
                                                            <%= number_to_currency credit[:limite_abiertas] %>
                                                        </td>
                                                        <td>
                                                            <%= number_to_currency credit[:maximo_abiertas] %>
                                                        </td>
                                                        <td>
                                                            <%= number_to_currency credit[:saldo_actual] %>
                                                        </td>
                                                        <td>
                                                            <%= number_to_currency credit[:saldo_vencido] %>
                                                        </td>
                                                        <td>
                                                            <%= number_to_currency credit[:pago_realizar] %>
                                                        </td>
                                                        <td>
                                                            <%= credit[:cuentas_cerradas] %>
                                                        </td>
                                                        <td>
                                                            <%= number_to_currency credit[:limite_cerradas] %>
                                                        </td>
                                                        <td>
                                                            <%= number_to_currency credit[:maximo_cerradas] %>
                                                        </td>
                                                        <td>
                                                            <%= number_to_currency credit[:saldo_cerradas] %>
                                                        </td>
                                                        <td>
                                                            <%= number_to_currency credit[:monto_cerradas] %>
                                                        </td>
                                                    </tr>
                                                    <% end %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                  <% end; end %>
                                </div>
                            </div>
                            <div class="card big-padding">
                                <h3>Domicilios registrados</h3>
                                <% if @credit_bureau.present? && !@esPM
                                    if @report_result['results'][0]['response'].present? && !@report_result.has_key?("msjError".to_sym) %>
                                <div style="width:100%;">
                                <table class="table" style="width:100%;">
                                    <thead class="thead-default">
                                        <tr>
                                            <th>
                                                    Calle y número
                                            </th>
                                            <th>
                                                    Colonia
                                            </th>
                                            <th>
                                                    Del / Mpio
                                            </th>
                                            <th>
                                                    Estado
                                            </th>
                                            <th>
                                                    C.P
                                            </th>
                                            <th>
                                                    Teléfono
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    
                                    <% ( @report_result['results'][1]['response']['return']['Personas']['Persona'][0]['Domicilios']['Domicilio']).each do |address| %>
                                        <tr>
                                            <td>
                                                <%= address['Direccion1'] %>
                                            </td>
                                            <td>
                                                <%= address['ColoniaPoblacion'] %>
                                            </td>
                                            <td>
                                                <%= address['DelegacionMunicipio'] %>
                                            </td>
                                            <td>
                                                <%= address['Estado'] %>
                                            </td>
                                            <td>
                                                <%= address['CP'] %>
                                            </td>
                                            <td>
                                                <%= address['NumeroTelefono'] %>
                                            </td>
                                        </tr>
                                        <% end %>
                                    </tbody>
                                </table>
                                </div>
                                <% end; else %>
                                    <div >
                                        <div 
                                                role="alert">
                                            <div class="m-alert__icon">
                                                <i class="flaticon-exclamation-1">
                                                </i><span></span>
                                            </div>
                                            <div class="m-alert__text">
                                                
                                                    Aún no se encuentran domicilios registrados.
                                                
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                            <div class="page-break"></div>
                            <div class="card big-padding">
                                <div >
                                    <h3>
                                        Domicilio(s) de empleo(s) registrado(s)
                                    </h3>
                                    <% if @credit_bureau.present? && !@esPM
                                    if @report_result['results'][0]['response'].present? && !@report_result.has_key?("msjError".to_sym) %>
                                    
                                    <div class="row" >
                                        <table class="table" style="width:100%;">
                                            <thead class="thead-default">
                                                <tr>
                                                    <th>Compañía</th>
                                                    <th>Puesto</th>
                                                    <th>País</th>
                                                    <th>Calle y número</th>
                                                    <th>Telefono</th>
                                                    <th>Fecha de contratación</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <% ( @report_result['results'][1]['response']['return']['Personas']['Persona'][0]['Empleos']['Empleo']).each do |job| %>
                                                <tr>
                                                    <td><%= job['NombreEmpresa'] %></td>
                                                    <td><%= job['Cargo'] %></td>
                                                    <td><%= job['CodPais'] %></td>
                                                    <td><%= job['Direccion1'] %></td>
                                                    <td><%= job['NumeroTelefono'] %></td>
                                                    <td><%=  job['FechaContratacion'] %></td>
                                                </tr>
                                                <% end %>
                                            </tbody>
                                        </table>
                                        </div>
                                    </div>
                                    <br/>
                                    <% end; else %>
                                    <div >
                                        <div 
                                             role="alert">
                                            <div class="m-alert__icon">
                                                <i class="flaticon-exclamation-1">
                                                </i><span></span>
                                            </div>
                                            <div class="m-alert__text">
                                                
                                                    Aún no se encuentran Domicilio(s) de empleo(s) registrado(s).
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <% end %>
                                </div>
                            </div>
                            <% if @credit_bureau.present?
                            if @report_result['results'][0]['response'].present? %>
                            <div class="card">
                                <div class="row" style="background-color:  #EBEBEB">
                                <h5>
                                    ¿Que significa el Histórico de pagos?
                                </h5>
                                    <div class="col">
                                        <ul>
                                            <li><span style="background-color:white">1</span> Cuenta al corriente</li>
                                            <li><span style="background-color:orange">2</span> Cuenta con atraso de 1 a 29 días</li>
                                            <li><span style="background-color:orange">3</span> Cuenta con atraso de 30 a 59 días</li>
                                        </ul> 
                                    </div>
                                    <div class="col">
                                        <ul>
                                            <li><span style="background-color:orange">4</span> Cuenta con atraso de 60 a 89 días</li>
                                            <li><span style="background-color:red">5</span> Cuenta con atraso de 90 a 119 días</li>
                                            <li><span style="background-color:red">6</span> Cuenta con atraso de 120 a 149 días</li>
                                            <li><span style="background-color:red">7</span> Cuenta con atraso de 150 días hasta 12 meses</li>
                                        </ul> 
                                    </div>
                                    <div class="col">
                                        <ul>
                                            <li><span style="background-color:red">9</span> Puede significar: </li>
                                            <li>- Cuenta con atraso de más de 12 meses </li>
                                            <li>- Cuenta con deuda parcial o total sin recuperar </li>
                                            <li>- Fraude cometido por el consumidor </li>

                                        </ul> 
                                    </div>
                                    <div class="col">
                                        <ul>
                                            <li>
                                            <span style="background-color:white">0</span> Cuenta muy reciente para ser informada
                                            </li>
                                            <li>
                                            <span style="background-color:white">U</span> Cuenta sin información
                                            </li>
                                             <li>
                                             <span style="background-color:white">-</span> Cuenta no reportada en este periodo
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <% end end %>
                            <div class="card">
                                <div class="row">
                                    <div class="card-title">
                                        <h3 class="m-portlet__head-text">
                                            Cuentas
                                        </h3>
                                    </div>
                                    <% if @credit_bureau.present? && !@esPM
                                    if @report_result['results'][0]['response'].present? && !@report_result.has_key?("msjError".to_sym)
                                    ( @report_result['results'][1]['response']['return']['Personas']['Persona'][0]['Cuentas']['Cuenta']).each do |account| %>
                                        <div class="card-body" style="display:inline-block;">
                                            <table>
                                                <thead>
                                                    <tr style="background-color: gray;">
                                                        <th>
                                                                Nombre del Otorgante
                                                        </th>
                                                        <th>
                                                                Monto a pagar
                                                        </th>
                                                        <th>
                                                                Tipo de cuenta
                                                        </th>
                                                        <th>
                                                                Saldo actual
                                                        </th>
                                                        <th>
                                                                Saldo vencido
                                                        </th>
                                                        <th>
                                                                Tipo de contrato
                                                        </th>
                                                        <th>
                                                                Crédito máximo
                                                        </th>
                                                        <th>
                                                                Forma de Pago
                                                        </th>
                                                        <th>
                                                                Frecuencia de pagos
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr >
                                                        <td>
                                                            <%= account['NombreOtorgante'] %>
                                                        </td>
                                                        <td>
                                                            <%= number_to_currency account['MontoPagar'] %>
                                                        </td>
                                                        <td>
                                                            <%= I18n.t("account_type.#{account['TipoCuenta']}") %>
                                                        </td>
                                                        <td>
                                                            <%= number_to_currency account['SaldoActual'] %>
                                                        </td>
                                                        <td>
                                                            <%= number_to_currency account['SaldoVencido'] %>
                                                        </td>
                                                        <td>
                                                            <%= I18n.t("contract_type.#{account['TipoContrato']}") %>
                                                        </td>

                                                        <td>
                                                            <%= number_to_currency account['CreditoMaximo'] %>
                                                        </td>
                                                        <td>
                                                            <%=  account['FormaPagoActual'] %>
                                                        </td>
                                                        <td>
                                                            <%=  I18n.t("payments_frecuency.#{account['FrecuenciaPagos']}") %>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div>
                                                <h6>
                                                <b>Historial de pagos</b>
                                                </h6>
                                            </div>
                                            <table>
                                                <thead>
                                                    <tr style="background-color: gray;">
                                                        <th >
                                                                Mes
                                                        </th>
                                                        <th >
                                                                E
                                                        </th>
                                                        <th >
                                                                F
                                                        </th>
                                                        <th >
                                                                M
                                                        </th>
                                                        <th >
                                                                A
                                                        </th>
                                                        <th >
                                                                M
                                                        </th>
                                                        <th >
                                                                J
                                                        </th>
                                                        <th >
                                                                J
                                                        </th>
                                                        <th >
                                                                A
                                                        </th>
                                                        <th >
                                                                S
                                                        </th>
                                                        <th >
                                                                O
                                                        </th>
                                                        <th >
                                                                N
                                                        </th>
                                                        <th >
                                                                D
                                                        </th>
                                                    </tr>
                                                </thead>
                                        
                                                <% get_history_payments(account).each do |key, value| %>
                                                <tbody >
                                                    <tr>
                                                        <td >
                                                            <%= key %>
                                                        </td>
                                                        <% value.each do |v|
                                                        if v[:value] == 0 %>
                                                        <td >
                                                            <%= v[:value] %>
                                                        </td>
                                                        <% elsif v[:value] == '1' %>
                                                        <td>                                            
                                                            <%= v[:value] %>
                                                        </td>
                                                        <% elsif v[:value] == '2' %>
                                                        <td >                                            
                                                            <%= v[:value] %>
                                                        </td>
                                                        <% elsif v[:value].nil? %>
                                                        <td >                                            
                                                            -
                                                        </td>
                                                        <% else %>
                                                        <td >
                                                            <%= v[:value] %>
                                                        </td>
                                                        <% end; end %>
                                                    </tr>
                                                </tbody>
                                                <% end %>
                                            </table>
                                        </div><br>
                                        <hr size="2px" color="black" />
                                    <% end; else %>
                                    <div >
                                        <div 
                                             role="alert">
                                            <div class="m-alert__icon">
                                                <i class="flaticon-exclamation-1">
                                                </i><span> </span>
                                            </div>
                                            <div class="m-alert__text">
                                                
                                                    Aún no se encuentran cuentas.
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <% end; else %>
                                    <div >
                                        <div 
                                             role="alert">
                                            <div class="m-alert__icon">
                                                <i class="flaticon-exclamation-1">
                                                </i><span> </span>
                                            </div>
                                            <div class="m-alert__text">
                                                
                                                    Aún no se encuentran cuentas.
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <% end %>
                                </div>
                            </div>
                            <div >
                                <div >
                                    <h3 class="m-portlet__head-text">
                                        Consultas
                                    </h3>
                                    <% if @bureau_report.present?
                                    @bureau_report['results'].each do |bureau_report|
                                    if @bureau_report['results'][0]['status'] %>
                                        <div >
                                            <div >
                                            <%= I18n.t("report_type.#{bureau_report['metadata']['reportType']}") %> 
                                            </div>
                                            <div >
                                                <%= @bureau_report['results'][0]['status'] %>
                                            </div>
                                            <div >
                                                <%= DateTime.parse(@bureau_report['results'][0]['createdAt']).strftime('%d-%m-%Y') %>
                                            </div>
    <!--                                        <div >
    <!--                                           <a href="/credit_bureaus/<%= bureau_report['id'] %>">-->
    <!--                                               Ver reporte-->
    <!--                                           </a>-->
    <!--                                      </div>
                                        </div>
                                    <% end; end; else %>
                                    <div >
                                        <div 
                                             role="alert">
                                            <div class="m-alert__icon">
                                                <i class="flaticon-exclamation-1">
                                                </i><span></span>
                                            </div>
                                            <div class="m-alert__text">
                                                
                                                    Aún no se encuentran consultas.
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <% end %>
                                </div>
                            </div>
                        <% elsif (@credit_bureau.present? and @esPM || (@credit_bureau.present? and @esPM)) %>
                            <div >
                                <div >
                                    <h3 class="m-portlet__head-text">
                                    </h3>
                                    <div >
                                        <% if @credit_bureau.present?
                                        if @report_result['results'][0]['query'].present? %>
                                            <div >
                                                <div >
                                                    <h3>
                                                    Calificación cartera PM
                                                    </h3>
                                                </div>
                                                <div >
                                                    <% if @report_result['results'][0]['response']['respuesta']['datosGenerales'].present?
                                                    %>
                                                    <%= @report_result['results'][0]['response']['respuesta']['datosGenerales']['calificacionCartera'].present? ? @report_result['results'][0]['response']['respuesta']['datosGenerales']['calificacionCartera'].tr('0','') : 'N/D' %>
                                                
                                                    <% else %>
                                                    
                                                    N/D
                                                
                                                    <% end %>
                                                </div>
                                            </div>
                                        <% else %>
                                            <div 
                                                role="alert">
                                                <div class="m-alert__icon">
                                                    <i class="flaticon-exclamation-1">
                                                    </i><span>          </span>
                                                </div>
                                                <div class="m-alert__text">
                                                    
                                                        Aún no se encuentra calificación.
                                                    
                                                </div>
                                            </div>
                                        <% end; else %>
                                            <div 
                                                role="alert">
                                                <div class="m-alert__icon">
                                                    <i class="flaticon-exclamation-1">
                                                    </i><span>        </span>
                                                </div>
                                                <div class="m-alert__text">
                                                    
                                                        Aún no se encuentra calificación.
                                                    
                                                </div>
                                            </div>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                            <div >
                                <div >
                                    <h3 >
                                        Datos Generales
                                    </h3>
                                    <div >
                                        <% if @credit_bureau.present?
                                        if @report_result['results'][0]['query'].present? %>
                                            <div >
                                                
                                                    Nombre
                                                
                                            </div>
                                            <div >
                                                
                                                    <%= @report_result['results'][0]['query']['consulta']['persona']['nombre'] %>
                                                
                                            </div>
                                            <div >
                                                
                                                    R.F.C
                                                
                                            </div>
                                            <div >
                                                
                                                    <%= @report_result['results'][0]['query']['consulta']['persona']['rfc'] %>
                                                
                                            </div>
                                        <% else %>
                                            <div 
                                                role="alert">
                                                <div class="m-alert__icon">
                                                    <i class="flaticon-exclamation-1">
                                                    </i><span>        </span>
                                                </div>
                                                <div class="m-alert__text">
                                                    
                                                        Aún no se encuentran datos generales.
                                                    
                                                </div>
                                            </div>
                                        <% end; else %>
                                            <div 
                                                role="alert">
                                                <div class="m-alert__icon">
                                                    <i class="flaticon-exclamation-1">
                                                    </i><span>      </span>
                                                </div>
                                                <div class="m-alert__text">
                                                    
                                                        Aún no se encuentran datos generales.
                                                    
                                                </div>
                                            </div>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                            <div >
                                <div >
                                    <h3 class="m-portlet__head-text">
                                        Domicilio registrado
                                    </h3>
                                    <% if @credit_bureau.present?
                                    if @report_result['results'][0]['response']['respuesta'].present? %>
                                    <div >
                                        <div >
                                            
                                                Calle y número
                                            
                                        </div>
                                        <div >
                                            <%= @report_result['results'][0]['response']['respuesta']['datosGenerales'] ? @report_result['results'][0]['response']['respuesta']['datosGenerales']['direccion1'] : 'N/D' %>
                                        </div>
                                        <div >
                                            
                                                Colonia
                                            
                                        </div>
                                        <div >
                                            <%= @report_result['results'][0]['response']['respuesta']['datosGenerales'] ?
                                            @report_result['results'][0]['response']['respuesta']['datosGenerales']['coloniaPoblacion'] :
                                            'N/D' %>
                                        </div>
                                        <div >
                                            
                                                Del / Mpio
                                            
                                        </div>
                                        <div >
                                            <%= @report_result['results'][0]['response']['respuesta']['datosGenerales'] ?
                                            @report_result['results'][0]['response']['respuesta']['datosGenerales']['delegacionMunicipio']
                                            : 'N/D' %>
                                        </div>
                                    </div>
                                    <div >
                                        <div >
                                            
                                                Estado
                                            
                                        </div>
                                        <div >
                                            <%= @report_result['results'][0]['response']['respuesta']['datosGenerales'] ?
                                            @report_result['results'][0]['response']['respuesta']['datosGenerales']['estado'] : 'N/D' %>
                                        </div>
                                        <div >
                                            
                                                C.P
                                            
                                        </div>
                                        <div >
                                            <%= @report_result['results'][0]['response']['respuesta']['datosGenerales'] ?
                                            @report_result['results'][0]['response']['respuesta']['datosGenerales']['codigoPostal'] :
                                            'N/D' %>
                                        </div>
                                        <div >
                                            
                                                Teléfono
                                            
                                        </div>
                                        <div >
                                            <%= @report_result['results'][0]['response']['respuesta']['datosGenerales'] ?
                                            @report_result['results'][0]['response']['respuesta']['datosGenerales']['telefono'] : 'N/D' %>
                                        </div>
                                    </div>
                                    <br/>
                                    <% else %>
                                        <div >
                                            <div 
                                                role="alert">
                                                <div class="m-alert__icon">
                                                    <i class="flaticon-exclamation-1">
                                                    </i><span>        </span>
                                                </div>
                                                <div class="m-alert__text">
                                                    
                                                        Aún no se encuentran domicilios registrados.
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    <% end; else %>
                                        <div >
                                            <div 
                                                role="alert">
                                                <div class="m-alert__icon">
                                                    <i class="flaticon-exclamation-1">
                                                    </i><span>      </span>
                                                </div>
                                                <div class="m-alert__text">
                                                    
                                                        Aún no se encuentran domicilios registrados.
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                            <div >
                                <div >
                                    <h3 class="m-portlet__head-text">
                                        Créditos activos
                                    </h3>
                                    <% if @credit_bureau[0].bureau_report.present? && 
                                    if @report_result['results'][0]['response']['respuesta'] %>
                                        <div >
                                            <div class="m-section">
                                                <div class="m-section__content">
                                                    <table class="table" style="display: block;">
                                                        <thead class="thead-default">
                                                        <tr>
                                                            <th>
                                                                Tipo de Otorgante
                                                            </th>
                                                            <th>
                                                                Tipo de Crédito
                                                            </th>
                                                            <th>
                                                                Cuentas Abiertas
                                                            </th>
                                                            <th>
                                                                <Cuentas>en MXP</Cuentas>
                                                                <a>en MXP</a>
                                                            </th>
                                                            <th>
                                                                Cuentas en USD
                                                            </th>
                                                            <th>
                                                                Otras Monedas
                                                            </th>
                                                            <th>
                                                                Original
                                                            </th>
                                                            <th>
                                                                Saldo Actual
                                                            </th>
                                                            <th>
                                                                Vigente
                                                            </th>
                                                            <th>
                                                                1-29 días
                                                            </th>
                                                            <th>
                                                                30-59 días
                                                            </th>
                                                            <th>
                                                                60-89 días
                                                            </th>
                                                            <th>
                                                                90-119 días
                                                            </th>
                                                            <th>
                                                                120 - 179 días
                                                            </th>
                                                            <th>
                                                                180+ días
                                                            </th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <% get_active_credits(@report_result['results'][0]['response']['respuesta']['creditoFinanciero']).each do |active_credit| %>
                                                        <tr>
                                                            <th>
                                                                <%= active_credit[:otorgante] %>
                                                            </th>
                                                            <th>
                                                                <%= active_credit[:tipo_credito] %>
                                                            </th>
                                                            <th>
                                                                <%= active_credit[:cuentas_abiertas] %>
                                                            </th>
                                                            <th>
                                                                <%= active_credit[:cuentas_mxp] %>
                                                            </th>
                                                            <th>
                                                                <%= active_credit[:cuentas_usd] %>
                                                            </th>
                                                            <th>
                                                                <%= active_credit[:otras_monedas] %>
                                                            </th>
                                                            <th>
                                                                <%= number_to_currency active_credit[:original] %>
                                                            </th>
                                                            <th>
                                                                <%= number_to_currency active_credit[:saldo_actual] %>
                                                            </th>
                                                            <th>
                                                                <%= number_to_currency active_credit[:vigente] %>
                                                            </th>
                                                            <th>
                                                                <%= active_credit[:one] %>
                                                            </th>
                                                            <th>
                                                                <%= active_credit[:thirty] %>
                                                            </th>
                                                            <th>
                                                                <%= active_credit[:sixty] %>
                                                            </th>
                                                            <th>
                                                                <%= active_credit[:ninety] %>
                                                            </th>
                                                            <th>
                                                                <%= active_credit[:one_twenty] %>
                                                            </th>
                                                            <th>
                                                                <%= active_credit[:one_eighty] %>
                                                            </th>
                                                        </tr>
                                                        <% end; get_total_active_credits(@report_result['results'][0]['response']['respuesta']['creditoFinanciero']).each do |active_credit| %>
                                                            <tr>
                                                                <th colspan="2">
                                                                    Total
                                                                </th>
                                                                <th>
                                                                    <%= active_credit[:cuentas_abiertas] %>
                                                                </th>
                                                                <th>
                                                                    <%= active_credit[:cuentas_mxp] %>
                                                                </th>
                                                                <th>
                                                                    <%= active_credit[:cuentas_usd] %>
                                                                </th>
                                                                <th>
                                                                    <%= active_credit[:otras_monedas] %>
                                                                </th>
                                                                <th>
                                                                    <%= number_to_currency active_credit[:original] %>
                                                                </th>
                                                                <th>
                                                                    <%= number_to_currency active_credit[:saldo_actual] %>
                                                                </th>
                                                                <th>
                                                                    <%= number_to_currency active_credit[:vigente] %>
                                                                </th>
                                                                <th>
                                                                    <%= active_credit[:one] %>
                                                                </th>
                                                                <th>
                                                                    <%= active_credit[:thirty] %>
                                                                </th>
                                                                <th>
                                                                    <%= active_credit[:sixty] %>
                                                                </th>
                                                                <th>
                                                                    <%= active_credit[:ninety] %>
                                                                </th>
                                                                <th>
                                                                    <%= active_credit[:one_twenty] %>
                                                                </th>
                                                                <th>
                                                                    <%= active_credit[:one_eighty] %>
                                                                </th>
                                                            </tr>
                                                        <% end %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    <% else %>
                                        <div >
                                            <div 
                                                role="alert">
                                                <div class="m-alert__icon">
                                                    <i class="flaticon-exclamation-1">
                                                    </i><span>      </span>
                                                </div>
                                                <div class="m-alert__text">
                                                    
                                                        Aún no se encuentran creditos activos.
                                                    </div>
                                            </div>
                                        </div>
                                    <% end; else %>
                                        <div >
                                            <div 
                                                role="alert">
                                                <div class="m-alert__icon">
                                                    <i class="flaticon-exclamation-1">
                                                    </i><span>      </span>
                                                </div>
                                                <div class="m-alert__text">
                                                    
                                                        Aún no se encuentran creditos activos.
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                            <div >
                                <div >
                                    <h3 class="m-portlet__head-text">
                                        Historia
                                    </h3>
                                    <% if @credit_bureau.present?
                                    if @report_result['results'][0]['response']['respuesta'].present?
                                    split_months = @report_result['results'][0]['response']['respuesta']['historia'].length / 5.0
                                    if split_months % 1 != 0
                                    split_months += 1
                                    end; starting = 0
                                    ending = 4 %>
                                    <div >
                                        <div class="m-section">
                                            <div class="m-section__content">
                                                <table class="table" style="display: block; width:100%;">
                                                  <% for a in 1..split_months do %>
                                                    <thead class="thead-default">
                                                    <tr>
                                                        <th>
                                                        </th>
                                                        <% @report_result['results'][0]['response']['respuesta']['historia'][starting..ending].each do |historia| %>
                                                            <th>
                                                                <%= historia['periodo'] %>
                                                            </th>
                                                        <% end %>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <th>
                                                            Vigente
                                                        </th>
                                                        <% @report_result['results'][0]['response']['respuesta']['historia'][starting..ending].each do |historia| %>
                                                            <th>
                                                                <%= number_to_currency historia['saldoVigente'] %>
                                                            </th>
                                                        <% end %>
                                                    </tr>
                                                    <tr>
                                                        <th>
                                                            Vencido de 1 a 29 días
                                                        </th>
                                                        <% @report_result['results'][0]['response']['respuesta']['historia'][starting..ending].each do |historia| %>
                                                            <th>
                                                                <%= number_to_currency historia['saldoVencidoA90Dias'] %>
                                                            </th>
                                                        <% end %>
                                                    </tr>
                                                    <tr>
                                                        <th>
                                                            Vencido de 30 a 59 días
                                                        </th>
                                                        <% @report_result['results'][0]['response']['respuesta']['historia'][starting..ending].each do |historia| %>
                                                            <th>
                                                                <%= number_to_currency historia['saldoVencido1A29Dias'] %>
                                                            </th>
                                                        <% end %>
                                                    </tr>
                                                    <tr>
                                                        <th>
                                                            Vencido de 60 a 89 días
                                                        </th>
                                                        <% @report_result['results'][0]['response']['respuesta']['historia'][starting..ending].each do |historia| %>
                                                            <th>
                                                                <%= number_to_currency historia['saldoVencido30A59Dias'] %>
                                                            </th>
                                                        <% end %>
                                                    </tr>
                                                    <tr>
                                                        <th>
                                                            Vencido de a mas de 89 días
                                                        </th>
                                                    <% @report_result['results'][0]['response']['respuesta']['historia'][starting..ending].each do |historia|%>
                                                        <th>
                                                            <%= number_to_currency historia['saldoVencido60A89Dias'] %>
                                                        </th>
                                                        <% end %>
                                                        </tr>
                                                        <tr>
                                                        <th>
                                                            Calificación de cartera
                                                        </th>
                                                        <% @report_result['results'][0]['response']['respuesta']['historia'][starting..ending].each do |historia| %>
                                                        <th>
                                                            <%= historia['calificacioncartera'].present? ?
                                                            historia['calificacioncartera'] : 'N/D' %>
                                                        </th>
                                                        <% end %>
                                                        </tr>
                                                     </tbody>
                                                     <%# <-- <% starting += 5 ending += 5 end %> 
                                                    <% end %>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <% else %>
                                    <div >
                                        <div 
                                             role="alert">
                                            <div class="m-alert__icon">
                                                <i class="flaticon-exclamation-1">
                                                </i><span>      </span>
                                            </div>
                                            <div class="m-alert__text">
                                                
                                                    Aún no se encuentran creditos activos.
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <% end; else %>
                                    <div >
                                        <div 
                                             role="alert">
                                            <div class="m-alert__icon">
                                                <i class="flaticon-exclamation-1">
                                                </i><span>      </span>
                                            </div>
                                            <div class="m-alert__text">
                                                
                                                    Aún no se encuentran creditos activos.
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <% end %>
                                </div>
                            </div>
                            <div >
                                <div >
                                    <h3 class="m-portlet__head-text">
                                        Consultas
                                    </h3>
                                    <div >
                                        <div 
                                             role="alert">
                                            <div class="m-alert__icon">
                                                <i class="flaticon-exclamation-1">
                                                </i><span>          </span>
                                            </div>
                                            <div class="m-alert__text">
                                                
                                                    Aún no se encuentran consultas.
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div 
                                 role="alert">
                                <div class="m-alert__icon">
                                    <i class="flaticon-exclamation-1">
                                    </i><span>    </span>
                                </div>
                                <div class="m-alert__text">
                                    
                                        Aún no se le ha asignado el buró de crédito.
                                    
                                </div>
                            </div>
                        <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>