    <!DOCTYPE html>
    <html lang="en">
    <head>
    <%= wicked_pdf_stylesheet_link_tag 'application' %>
        <title>Aviso de Privacidad</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <style type="text/css">
            html { font-family:Calibri, Arial, Helvetica, sans-serif; font-size:12pt; background-color:white }
            page { height: 200px; overflow: auto;}

        </style>
    </head>
    <body>
    <div>
    <font size="1" face="Courier New" >
    <div style="position: relative;">
        <img src="https://elasticbeanstalk-us-east-1-448997109223.s3.amazonaws.com/nomina_back/imagenes/leasing_logo.jpg" alt="logo leasing" style="width: 100px;">
    </div>
    <div class="row">
        <h6 style='text-align: left;'>
        PAGARÉ ÚNICO CON CONTRATO
        </h6>
    </div>
    <div class="row">
        
            <span style='text-align: justify;'>Por este pagaré me obligo a pagar incondicionalmente a la orden de
                <strong>
                    FACTOR
                </strong>
            </span>
            <strong>
                <span >
                    GFC LEASING S.A.P.I. DE C.V.,
                </span>
            </strong>
                <span >
                        la cantidad de
                    <strong><u><span style="background:yellow;">
                        <%= @monto_total_solicitado.to_words.upcase << " ( " <<number_to_currency(@monto_total_solicitado)<< " PESOS " << (@monto_total_solicitado.to_s.split(".")[1] || 0).rjust(2,'0')<< "/100 M.N.)" %>
                    </span></u></strong>
                        En el lugar establecido en el Contrato de préstamo sobre Nomina que adelante se identifica. En un plazo de 
                    <strong><u><span style="background:yellow;">
                        <%= @term %> <% case @plazo_type
                            when "Semanal" %>
                            SEMANAS
                            <% when "Quincenal" %>
                            QUINCENAS
                            <% when "Mensual"%>
                            MESES
                            <% end %>
                    </span></u></strong> 
                    <strong><u>
                        ,
                    </u></strong>
                        a partir del día 
                    <strong><u><span style="background:yellow;">
                        <%= @dia_inicio %> de
                    </span></u></strong>
                    <strong><u><span style="background:yellow;">
                            <%= @mes_inicio %> del <%= @anio_inicio %>
                    </span></u></strong>
                        , para concluir el día 
                    <strong><u><span style="background:yellow;">
                        <%= @dia_fin %>
                    </span></u></strong>
                    <strong><u><span style="background:yellow;">
                        de <%= @mes_fin %> del <%= @anio_fin %>.
                    </span></u></strong>
                </span>
        
    </div>
    <div class="row">
    
        <span >
            Los pagos deberán realizarse conforme se detalla en la tabla de amortizaciones que se consigna en el presente título, en las fechas al efecto
            señaladas. El importe principal de este pagaré causará intereses ordinarios y, en su caso, intereses moratorios conforme a las tasas pactadas
            en el Contrato de préstamo sobre Nómina del cual se deriva.
        </span>
    
    </div>
    <div class="row">
    
        <span >
            Mediante este pagaré se documenta la disposición por la suma de su importe principal, del Contrato de préstamo sobre Nómina, celebrado con fecha 
            <strong><u><span style="background:yellow;">
                        <%= @dia_inicio %> de
                    </span></u></strong>
                    <strong><u><span style="background:yellow;">
                            <%= @mes_inicio %> del <%= @anio_inicio %>
                    </span></u></strong>
            El presente pagaré único ampara la disposición del préstamo concedido en virtud de dicho contrato.
        </span>
    
    </div>
    <div class="page" style="style="height: 200px; overflow: auto;">
    <table style="table-layout: fixed;">
        <thead style="border: 1px solid #ddd;text-align: left;">
            <tr>
                <th style="padding: 2px;width:0.1%;white-space: nowrap;">No. pago</th>
                <th style="padding: 2px;width:0.1%;white-space: nowrap;">Monto</th>
                <th style="padding: 2px;width:0.1%;white-space: nowrap;">Fecha pago</th>
            </tr>
        </thead>
        <tbody style="border: 1px solid #ddd;   text-align: center;">
            <% @amortizacion.each do |payment| %>
                <tr>
                    <td style="padding: 2px;width:0.1%;white-space: nowrap;"> <%= payment['pay_number'] %></td>
                    <td style="padding: 2px;width:0.1%;white-space: nowrap;"> <%= number_to_currency(payment['capital']) %></td>
                    <td style="padding: 2px;width:0.1%;white-space: nowrap;"> <%=  DateTime.parse(payment['payment_date']).strftime('%d-%m-%Y') %></td>
                </tr>
            <% end %>
        </tbody>
    </table>

</div>
<br>
    <div class="row">
    
        <span >
            Este pagaré se suscribe en la Ciudad de Chihuahua, Chihuahua, con fecha 
            <strong><u><span style="background:yellow;">
                        <%= @dia_inicio %> de
                    </span></u></strong>
                    <strong><u><span style="background:yellow;">
                            <%= @mes_inicio %> del <%= @anio_inicio %>
                    </span></u></strong>
        </span>
    
    </div>
    <br>
    <br>
    <br>
    </div>
    <div class="row">
        
            <span align="center" >
                SUSCRIPTOR
            </span>
        
        <br>
    </div>
   
    <div class="row">
        <div class="col" align="center">
        
            <span>
                ___________________________________________________________
            </span>
        
        </div>
    </div>
    
    <div class="row">
        <div class="col" align="center">
            
                <span>
                    <%= @nombre %> <%= @apellido_paterno %> <%= @apellido_materno %>
                </span>
            
        </div>
    </div>
    </font>

</body>